Приветствую тебя, ученик СММ!<br>
<br>
Добро пожаловать в мир Социального Медиа Маркетинга!<br>
<br>
Для начала, посмотри это обучающее видео:<br>
https://www.youtube.com/watch?v=ZmrC1QyQZWk&list=PLA7tIFWESalzcP80GYV-uoHqzphPKJ9S-&ab_channel=AntonSaburov<br>
<br>
Готов к увлекательному обучению? Поехали!